#-------------------------------#
# Ignores Folders               #
#-------------------------------#
.vscode
node_modules

#-------------------------------#
# Ignores Files                 #
#-------------------------------#
yarn.lock